<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-6  ">
                <img class="my-2" src="assets/images/footer_logo.png">
                <ul>
                    <li><a>
                            The Gift Hamper is one of a kind gift provider dealing with a variety of categories to
                            make your
                            special ones feels extra special.
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-2 col-md-6  offset-lg-1">
                <h3 class="ftr-title">Navigate</h3>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about-us">About Us</a></li>
                    <li><a routerLink="/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ">
                <h3 class="ftr-title">Quick Links</h3>
                <ul>
                    <li><a routerLink="/t&c">Corporate Gifts</a></li>
                    <li><a routerLink="/privacy-policy">Festival Gifts</a></li>
                    <li><a routerLink="/kidspolicy">Anniversary Gifts</a></li>
                    <li><a routerLink="/kidspolicy">Birthday Gifts</a></li>
                    <li><a routerLink="/kidspolicy">Wedding Gifts</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 ">
                <h3 class="ftr-title">Follow Us</h3>
                <div class="ftr_social_links">
                    <a href="https://www.facebook.com/people/Thegift-Hamper/61551754441508/?mibextid=ZbWKwL" style="padding-left: 0px;"
                        target="_blank">
                        <img src="../../assets/images/fb.svg" alt="">
                    </a>
                    <a href="https://www.instagram.com/thegifthamper.tgh/?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"
                        target="_blank">
                        <img src="../../assets/images/instagram.png" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/tgh-thegifthamper-4a7683294/" target="_blank">
                        <img src="../../assets/images/linkedIn.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bottom-footer text-center">
    © 2023 The Gift Hamper. All Right Reserved
</div>