<div class="container-fluid">
    <div class="row mt-4 text-center">
        <div class="col-lg col-sm-12">
            <img class="star_img" src="/assets/images/star_1.png">
        </div>
        <div class="col-lg m-auto col-sm-12">
            <p class="small_title_2">Feel free to</p>
            <p class="heading_1">Contact Us</p>
        </div>
        <div class="col-lg col-sm-12">
            <img class="star_img" src="/assets/images/QR_code.png">
        </div>
    </div>

    <!-- <div class="row contact_form justify-content-center">
        <div class="col-sm-12 col-lg-5 mx-5">
            <form #userlogin="ngForm" action="mbhavana3194@gmail.com" method="post">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <input type="text" name="name" class="form-control" placeholder="Your Name" ngModel>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <input type="email" name="emailId" class="form-control" placeholder="Email Address" ngModel>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <input type="tel" name="mobileNo" class="form-control" placeholder="Contact Number" ngModel>
                    </div>
                    <div class="my-3 col-12">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="message"></textarea>
                    </div>
                    <div class="col-sm-12">
                        <div class="text-center">
                            <button class="mt-4 yellow-btn" type="submit"
                                (click)="Submit(userlogin.value)">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
    <div class="row contact_details my-5 px-0">
        <div class="col-lg col-sm-12 pt-sm-3 m-lg-0 p-lg-0 d-flex" *ngFor="let item of contact_details">
            <div class="icon_bg ms-3">
                <mat-icon class="align-middle icon">{{item.icon}}</mat-icon>
            </div>
            <div class="ms-3">
                <div class="small_title_1">{{item.title}}</div>
                <div class="content_2 mt-1">{{item.desc}}</div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-12 d-flex">
            <div class="icon_bg">
                <mat-icon class="align-middle icon">mail</mat-icon>
            </div>
            <div class="ms-3">
                <div class="small_title_1">Email</div>
                <div class="content_2 mt-1">thegifthamper23@gmail.com</div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex">
            <div class="icon_bg">
                <mat-icon class="align-middle icon">access_time</mat-icon>
            </div>
            <div class="ms-3">
                <div class="small_title_1">Working Hours</div>
                <div class="content_2 mt-1">Monday - Saturday : 8am - 22pm</div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 d-flex">
            <div class="icon_bg">
                <mat-icon class="align-middle icon">location_on</mat-icon>
            </div>
            <div class="ms-3">
                <div class="small_title_1">Address</div>
                <div class="content_2 mt-1">303, Pavani Aqua Apartment, Masjid Banda, Kondapur 500084</div>
            </div>
        </div> -->
    </div>
</div>