<div class="container">
    <div class="row mt-5" id="reachUs">
        <div class="col-sm-12 col-lg-5 mx-5">
            <div class="mb-3 heading_4">Get in touch!</div>
            <div class="row">
                <div class="col-lg-12  col-sm-12 small_title_1 mt-3">
                    <div class="">
                        <mat-icon class="align-middle"> call</mat-icon> 8885011455
                    </div>
                    <div class="">
                        <mat-icon class="align-middle"> mail_outline</mat-icon> thegifthamper23@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>