<div class="container">
    <div class="row mt-5">
        <div class="col-8">
            <div class="title_2 my-3">Welcome To The Gift Hamper</div>
            <p class="small_title_4">Gift giving as a culture has become an integral part of all special occasions but the
                challenge of getting the right gift for the right person is not just time consuming but also mind
                boggling! Since it’s an important tool of making relationships stronger and more beautiful, we at The
                <span class="small_title_bold_4">The Gift Hamper </span> work to enrich this experience.
            </p>
            <p class="small_title_4"> We are curators of classic gift boxes customized to your
                taste, addressing your varied gifting needs. Our collaboration with brilliant artisans & amazing
                brands
                spread across the country and abroad allows us to bring together exclusive products packed in
                uniquely
                personalized combinations.
            </p>
        </div>
        <div class="col-4">
            <img class="about_img" src="/assets/images//aboutUs.svg">
        </div>
    </div>
    <div class="row text-center  mb-3">
        <div class="col-4">
            <img class="star_img " src="../../assets/images/star_1.png">
        </div>
        <div class="col-4  align-self-center">
            <div class="heading_1">#thegifthamper</div>
        </div>
        <div class="col"></div>
    </div>
</div>
<!-- start-carousel -->
<app-image-slider></app-image-slider>
<!-- end-carousel -->